{
  "branches": [
    "master",
    {
      "name": "next",
      "prerelease": true
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/npm",
    "@semantic-release/github",
    "@semantic-release/git",
    [
      "semantic-release-docker",
      {
        "registryUrl": "docker.io",
        "name": "overtheairbrew/tilt-bridge"
      }
    ]
  ]
}
